/1983
/1983-*.tar.gz
/test-msx
/test-kbd
/test-paste
/test-vdp
/test-v9990
/test-psg
/test-rtc
/test-cartridge
/test-cassette
/test-ata
/test-floppy
/test-wd2793
/test-tc8566
/test-sunrise
/test-sdcard
/test-sd-mapper
/test-megaflash
/test-unapinet
/test-scc
/test-config
/test-models
/test-gamepad
/test-overlay
/test-gifcap
/diagnostics/test-*.log
/diagnostics/test-*.trs
/Makefile
/config.log
/config.status
/configure~
/autom4te.cache/
/.local/
/ROMS/*
!/ROMS/README.C-BIOS
!/ROMS/README-RainBIOS
!/ROMS/cbios_logo_msx1.rom
!/ROMS/cbios_main_msx1.rom
!/ROMS/rainbios_msx2.rom
!/ROMS/rainbios_msx2_sub.rom
!/ROMS/rainbios_disk.rom
!/ROMS/rainbios_omega.rom
!/ROMS/rainbios_nms8250_disk.rom
!/ROMS/SDM V2 Nextor2.1.1.rom
!/ROMS/README-SD-MAPPER-V2
!/ROMS/Nextor-2.1.1.SunriseIDE.ROM
!/ROMS/README-NEXTOR-SUNRISE
!/ROMS/LICENSE-NEXTOR
/rtc/
/DOS/*
/src/.deps/
/diagnostics/.deps/
/src/.dirstamp
/diagnostics/.dirstamp
/dist/
/.flatpak-builder/
/flatpak_app/
/flatpak-repo/
/rpm-out/
/*.flatpak
/test-*.log
/test-*.trs
/test-suite.log
*.o
*.ppm
test-rs232
test-serial
test-rs232dev
/1983-*.gif
