/1983
/1983-*.tar.gz
/test-msx
/test-kbd
/test-vdp
/test-psg
/test-rtc
/test-cartridge
/test-cassette
/test-ata
/test-floppy
/test-wd2793
/test-sunrise
/test-config
/test-models
/test-gamepad
/test-overlay
/tests/test-*.log
/tests/test-*.trs
/Makefile
/config.log
/config.status
/configure~
/autom4te.cache/
/.local/
/ROMS/
/DOS/*
!/DOS/NEXTOR.SYS
/src/.deps/
/tests/.deps/
/src/.dirstamp
/tests/.dirstamp
/test-*.log
/test-*.trs
/test-suite.log
*.o
*.ppm
