/1983
/1983-*.tar.gz
/test-msx
/test-kbd
/test-paste
/test-vdp
/test-psg
/test-rtc
/test-cartridge
/test-cassette
/test-ata
/test-floppy
/test-wd2793
/test-sunrise
/test-sdcard
/test-sd-mapper
/test-megaflash
/test-scc
/test-config
/test-models
/test-gamepad
/test-overlay
/tests/test-*.log
/tests/test-*.trs
/Makefile
/config.log
/config.status
/configure~
/autom4te.cache/
/.local/
/ROMS/*
!/ROMS/README.C-BIOS
!/ROMS/cbios_logo_msx1.rom
!/ROMS/cbios_main_msx1.rom
/rtc/
/DOS/*
/src/.deps/
/tests/.deps/
/src/.dirstamp
/tests/.dirstamp
/dist/
/.flatpak-builder/
/flatpak_app/
/flatpak-repo/
/rpm-out/
/*.flatpak
/test-*.log
/test-*.trs
/test-suite.log
*.o
*.ppm
